<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
  />
    <title>Explore Our Community</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to the Community</h1>

    <ul>
        <% users.forEach(item => { %>
            <li>
                <%= item.username %> <a href="users/<%= user._id %>">view pantry</a>
            </li>
        <%}); %>
    </ul>
  </body>
</html>
